*{
  margin: 0;
  box-sizing: border-box;
  font-family: gilroy, sans-serif;
  color: white;
}

html,body{
  height: 100%;
  width: 100%;
}

nav{
  position: fixed;
  display: flex;
  align-items: center; 
  width: 100%; 
  padding: 2vw 4vw; 
  justify-content: space-between;
  padding: 2vw 10.4vw;
  
}
nav h1{
   font-size: 1.6vw;
}

.nav-part2{
   display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;

}
.nav-part2 h4{
  font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;

}

#page1{
 height: 100vh ;
 width: 100%;
 background-color: #111;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
#page1 h1{
font-size: 8.5vw;
text-transform: uppercase;
font-weight: 900 ;
line-height: 8.5vw;
}

#page1 h1 svg{
  height: 6vw;
  width: 6vw;
  border-radius: 50%;

  background-color: #0BA34E;
}

#page1-something{
 display: flex;
 align-items: center  ;
 justify-content: center;
}

#page1-something h4{
  font-size: 2vw;
  font-weight: 400;
  margin-top: 1px;
  text-transform: lowercase;
  padding: 5px 12px;
  border: 1px solid rgb(148, 147, 147);
  border-radius: 50px;

}
nav:hover #nav-bottom{
  
  height: 100%;
  bottom: -100%;
}

#page1-something h4:nth-child(3){
 border: none;
 padding: 2px;
} 


#page1 p{
  text-align: center;
 font-weight: 400;
  margin-top: 3vh;
}

#nav-bottom{
  height:0%;
  position:absolute;
  width: 79%;
  transition: all ease 0.65s;
  bottom:0%;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items:flex-start;
  justify-content: space-between ;

  padding: 2vw 15vw;
  padding-left: 18.2vw;
  padding-top: 3vw;

 
}

.bottom-div{
  /* background-color: red; */
}

.bottom-div h5{
  /* background-color:red ; */
  margin-bottom: 0.4vw;
}
.bottom-div h5 span{
  background-color: red;
  overflow: hidden;
 display: inline-block;
  font-weight: 500;
  font-size: 0.75vw;
  margin-top: 3vw;
    
}


#page2{
  height: 100vh;
  width: 100%;
  background-color: #111;
}